doctype html
html(lang="el")
  head
    title Σφάλμα
    link(rel="stylesheet", href="/css/styles.css")
    link(rel="icon" type="image/x-icon" href="/img/favicon.ico")
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
  body
    .error-container
      .error-content
        header
          h1= error_code 
        main
          p= error_message
          a(href="/dashboard", style="font-size: 20px;color: white;") Επιστροφή στην αρχική
      .footer-index
        footer
          p
          |  Nodelab &copy; 2024
