
		<div class="alert alert-<%= @error_type %>" role="alert">
			<strong>Error <%= response.status %></strong><br>
			<%= @error_message %>
		</div>
		<div class="text-end my-4">
			<a href="/" class="btn btn-primary">go to home</a>
		<div>
