<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>SEARCH4</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/sketchy/bootstrap.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="style.css" />
</head>
<body>
	<div class="container">
		<h1 class="display-4 text-center my-2">SEARCH<span>4</span></h1>
		<%= yield %>
		<div class="text-center my-4">
			<small>Copy right, center & left <%= "#{Time.now.year}" %></small>
		</div>
	</div>
</body>
</html>
